<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Beauty Organizer'}) %>
    <link rel="stylesheet" href="/styles/beauty-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <h2>In My Stash</h2>
            <ul>
                <% for (let beauty of beauties) { %>
                <li>
                    <figure>
                        <img src="<%= beauty.photo %>">
                        <figcaption>
                            <h4><%= beauty.name %></h4>
                            <p><%= beauty.brandName %></p>
                            <p>Qty <%= beauty.qty %></p>
                            <p><%= beauty.rating %> Stars</p>
                            <a href="/beauties/<%= beauty._id %>">Details</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>