<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `${beauty.name} | Beauty Organizer`}) %>
    <link rel="stylesheet" href="/styles/beauty-details.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div>
        <img src="<%= beauty.photo %>">
        <h2 class="beauty-name"><%= beauty.name %></h2>
        <section>
            <p><strong>Brand:</strong> <%= beauty.brandName %></p>
            <p><strong>Category:</strong> <%= beauty.category %></p>
            <p><strong>Qty:</strong> <%= beauty.qty %></p>
            <p><strong>Size:</strong> <%= beauty.size %></p>
            <p><strong>Rating:</strong> <%= beauty.rating %> Stars</p>
            <p><strong>Description:</strong> <%= beauty.description %></p>
        </section>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
