<!-- 3.4.1 Build views -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'Create a Review | Beauty Organizer'}) %>
    <link rel="stylesheet" href="/styles/new-form.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <span class="material-symbols-outlined spa">spa</span>
    <span class="material-symbols-outlined flower">filter_vintage</span>
    <span class="material-symbols-outlined leaf">nest_eco_leaf</span>
    <section class="hero">
        <h2>Reviews</h2>
        <h4><i>Review your Beauty Item! <a class="h4" href="/beauties/<%= beauty._id %>"> <%= beauty.name %></a></i></h4>
    </section>

    <form action="/reviews/create/<%= beauty._id %>" method="POST">
       
        <label for="reviewDescription">Your Review:</label><br>
        <textarea id="reviewDescription" name="reviewDescription" required></textarea><br>

        <input type="submit" value="Submit">
    </form>

    <%- include('../partials/footer.ejs') %>
</body>

</html>