<!-- 3.4.1 Build views -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | Beauty Organizer'}) %>
    <link rel="stylesheet" href="/styles/review-index.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="listings">
            <ul>
                <% for (let app of apps) { %>
                <li>
                    <p><%= beauty.name %></p>
                    <h4><%= app.reviewDescription %></h4>
                    <p>
                        Submitted on <%= app.reviewDate.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'}) %>
                    </p>
                    <a href="/reviews/<%= app._id %>">Read More</a>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>