<!-- 3.4.1 Build views -->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: 'My Reviews | Beauty Organizer'}) %>
    <link rel="stylesheet" href="/styles/review-details.css">
</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <main>
        <section class="review">
            <table>
                <tr>
                    <th>
                        <h2>Brand Name:</h2>
                    </th>
                    <td>
                        <h2><%= beauty.brandName %></h2>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h2>Name:</h2>
                    </th>
                    <td>
                        <h2><%= beauty.name %></h2>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h2>Category:</h2>
                    </th>
                    <td>
                        <h2><%= beauty.category %></h2>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h2>My Review:</h2>
                    </th>
                    <td>
                        <h2><%= app.reviewDescription %></h2>
                    </td>
                </tr>
                <tr>
                    <th>
                        <h2>Date submitted:</h2>
                    </th>
                    <td>
                        <h2><%= app.reviewDate.toLocaleDateString() %></h2>
                    </td>
                </tr>
            </table>
            <br>
            <div class="actions">
                <form method="POST" action="/reviews/<%= app._id %>?_method=DELETE">
                    <input class="btn btn2" type="submit" value="Delete" />
                </form>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>